.home {
	display: flex;
	justify-content: center;
	/* 메인축을 기준으로 균등배분한다. 여기선 flex이기 때문에 가로방향으로 배분한다*/
	margin-left: auto;
	margin-right: auto;
	/* 왼쪽오른쪽 마진을 auto로해서 양쪽 간격을 맞췄다. */
	max-width: 2000px;
}

.home_image {
	width: 100%;
	box-sizing: border-box;
	z-index: -1; /* 값을 가장 밑으로 깔아준다.*/
	margin-bottom: -150px; /* 마진 값을 마이너스로 줘서 안보이는 이미지가 이어지는 느낌을 준다. */
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0)
	); /* 이미지에 그라데이션 효과*/
}

.home_row {
	display: flex;
	z-index: 1;
	margin-left: 5px;
	margin-right: 5px;
}
